<div>
  <div class="left-half">
    <split-box>
      <div class="score-text">
        <div class="score">SCORE</div>
        <div class="score-number">
          <div class="number">100%</div>
        </div>
        <div class="message">Congrats!</div>
      </div>
    </split-box>
  </div>

  <div class="right-half">
    <split-box>
      <div class="container titles my-2">
        <div class="dados">
          <div class="acertos">
            ACERTOS X/X
          </div>
          <div class="time">
            TIME: 0'00''
          </div>
        </div>
        <div class="words">
          <ul class="list-unstyled">
            <li class="palavras">xxxxxxxxxxx</li>
            <li class="palavras">xxxxxxxxxxx</li>
            <li class="palavras">xxxxxxxxxxx</li>
            <li class="palavras">xxxxxxxxxxx</li>
            <li class="palavras">xxxxxxxxxxx</li>
            <li class="palavras">xxxxxxxxxxx</li>
            <li class="palavras">xxxxxxxxxxx</li>
            <li class="palavras">xxxxxxxxxxx</li>
            <li class="palavras">xxxxxxxxxxx</li>
            <li class="palavras">xxxxxxxxxxx</li>
            <li class="palavras">xxxxxxxxxxx</li>
          </ul>
        </div>
      </div>
    </split-box>
  </div>

</div>
<footer>footer</footer>
